/*
definindo o plano de fundo da pagina e da barra lateral
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('plano\ de\ fundo.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
  }

form {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #00ffff; 
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffff;
  }

label {
    display: block;
    margin-bottom: 2px;
  }

input, textarea {
    width:95%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

textarea {
    height: 75px;
  }
/*
botão
*/
button {
    background-color: #00ffff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
nav {
   
    background-color: #111; 
    border-right: 2px solid #00ffff; 
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width:200px ;
    padding: 20px;
    box-sizing: border-box
/*
definfido a cor do texto 
*/
}
ul li {
    margin: 20px;
}
a{ color: #00ffff; 
    &:hover {
        color: #0084ff; 
    }

}
h1{
  color: aliceblue;
  text-align: center;
}


